In [1]:
#Bag of words to explore the Notes data : Notes data,Lab data and Procedure data

Enter your name: Shreya
Hello Shreya

In [3]:
#%matplotlib inline

import matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

notes= pd.read_csv('NOTEEVENTS.csv',error_bad_lines=False);
notes.shape
list(notes)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

['ROW_ID',
 'SUBJECT_ID',
 'HADM_ID',
 'CHARTDATE',
 'CHARTTIME',
 'STORETIME',
 'CATEGORY',
 'DESCRIPTION',
 'CGID',
 'ISERROR',
 'TEXT']

In [4]:
print ('CHARTDATE')
print(notes['CHARTDATE'].iloc[0])
print ('CHARTTIME')
print(notes['CHARTTIME'].iloc[0])

CHARTDATE
2151-08-04
CHARTTIME
nan

In [5]:
#convert to dates- for consistency in format
notes.CHARTTIME= pd.to_datetime(notes.CHARTTIME, format ='%Y-%M-%D %H:%M:%S', errors ='coerce')
notes.STORETIME= pd.to_datetime(notes.STORETIME,format ='%Y-%M-%D %H:%M:%S', errors ='coerce')
print('CHARTTIME')
print(notes['CHARTTIME'].iloc[0])
print('STORETIME')
print(notes['STORETIME'].iloc[0])

CHARTTIME
nan
STORETIME
nan

In [6]:
print('CATEGORY')
print(notes['CATEGORY'].iloc[0])

CATEGORY
Discharge summary

In [7]:
lab=pd.read_csv('LABEVENTS.csv',error_bad_lines=False)
lab.shape
list(lab)

['ROW_ID',
 'SUBJECT_ID',
 'HADM_ID',
 'ITEMID',
 'CHARTTIME',
 'VALUE',
 'VALUENUM',
 'VALUEUOM',
 'FLAG']

In [8]:
df_notes_cate= notes.loc[notes['CATEGORY'].isin(['Discharge summary','Radiology'])]
print (df_notes_cate)




#assert df_notes_cate_clean.duplicated(['HADM_ID']).sum()==0,'Multiple discharge summaries per admission'

#notes['CATEGORY'] in ('Discharge Summary')
#notes['CATEGORY']

          ROW_ID  SUBJECT_ID   HADM_ID   CHARTDATE            CHARTTIME  \
0            174       22532  167853.0  2151-08-04                  NaN
1            175       13702  107527.0  2118-06-14                  NaN
2            176       13702  167118.0  2119-05-25                  NaN
3            177       13702  196489.0  2124-08-18                  NaN
4            178       26880  135453.0  2162-03-25                  NaN
5            179       53181  170490.0  2172-03-08                  NaN
6            180       20646  134727.0  2112-12-10                  NaN
7            181       42130  114236.0  2150-03-01                  NaN
8            182       56174  163469.0  2118-08-12                  NaN
9            183       56174  189681.0  2118-12-09                  NaN
10           184       28063  121936.0  2125-02-16                  NaN
11           185        1136  139574.0  2192-05-23                  NaN
12           223        5350  169684.0  2143-04-30                  NaN
13           224        5350  169684.0  2143-04-30                  NaN
14           225       11369  121504.0  2199-02-14                  NaN
15           226       11369  103786.0  2203-11-12                  NaN
16           227       10044  124073.0  2152-10-11                  NaN
17           228       79900  120644.0  2194-07-25                  NaN
18           229       79900  128319.0  2195-04-17                  NaN
19           230        9805  188132.0  2130-02-09                  NaN
20           231        9805  177212.0  2131-07-05                  NaN
21           232        9805  177212.0  2131-07-23                  NaN
22           233       99091  185274.0  2190-02-24                  NaN
23           234       70108  186093.0  2105-04-27                  NaN
24           235       19631  185175.0  2198-05-08                  NaN
25           236       26601  116471.0  2127-07-30                  NaN
26           237       26601  155131.0  2131-12-29                  NaN
27           238        5136  151912.0  2189-12-10                  NaN
28           239       24424  146533.0  2188-05-14                  NaN
29           240       27051  113012.0  2194-02-02                  NaN
...          ...         ...       ...         ...                  ...
1300943  1258021        5078       NaN  2108-11-03  2108-11-03 11:50:00
1300944  1258022       49382       NaN  2195-10-10  2195-10-10 13:06:00
1300945  1258023       87450       NaN  2197-10-14  2197-10-14 14:24:00
1300946  1258839       48872       NaN  2184-12-09  2184-12-09 13:04:00
1300947  1258887       56128       NaN  2140-11-20  2140-11-20 03:21:00
1300948  1259605       41702       NaN  2154-01-25  2154-01-25 04:49:00
1300949  1259654       46449       NaN  2174-12-19  2174-12-19 14:32:00
1300950  1259655       46449       NaN  2174-12-19  2174-12-19 14:42:00
1300951  1260648       15153  100998.0  2105-06-13  2105-06-13 18:22:00
1300952  1260649       62650       NaN  2122-07-18  2122-07-18 08:31:00
1300953  1260650       13303       NaN  2112-06-25  2112-06-25 18:34:00
1300954  1260651        5107       NaN  2143-11-25  2143-11-25 17:54:00
1300955  1260652       16355       NaN  2171-12-09  2171-12-09 18:54:00
1300956  1260653       51060  159548.0  2171-04-12  2171-04-12 23:10:00
1300957  1258120       97762       NaN  2140-11-22  2140-11-22 17:04:00
1300958  1258155       69799       NaN  2104-01-02  2104-01-02 18:54:00
1300959  1258930       63755       NaN  2155-01-07  2155-01-07 12:42:00
1300960  1258982       55678       NaN  2168-12-08  2168-12-08 18:59:00
1300961  1258983       55678       NaN  2168-12-08  2168-12-08 19:00:00
1300962  1258984       10721       NaN  2193-12-13  2193-12-13 07:17:00
1300963  1259802       70156       NaN  2139-03-02  2139-03-02 15:13:00
1300964  1259849       51484       NaN  2111-01-28  2111-01-28 13:27:00
1300965  1259850       90886       NaN  2165-01-09  2165-01-09 13:32:00
1300968  1258330       96259       NaN  2190-01-06  2190-01-06 22:34:00
1300969  1258331       65375       NaN  2117-12-30  2117-12-30 02:41:00
1300970  1258373       76698       NaN  2165-10-18  2165-10-18 12:14:00
1300971  1259197       41897       NaN  2145-01-25  2145-01-25 17:51:00
1300972  1259198       54385       NaN  2193-01-21  2193-01-21 18:04:00
1300973  1259199       73126       NaN  2199-01-21  2199-01-21 18:38:00
1300974  1259200       84854       NaN  2121-01-13  2121-01-13 23:36:00

        STORETIME           CATEGORY  \
0             NaN  Discharge summary
1             NaN  Discharge summary
2             NaN  Discharge summary
3             NaN  Discharge summary
4             NaN  Discharge summary
5             NaN  Discharge summary
6             NaN  Discharge summary
7             NaN  Discharge summary
8             NaN  Discharge summary
9             NaN  Discharge summary
10            NaN  Discharge summary
11            NaN  Discharge summary
12            NaN  Discharge summary
13            NaN  Discharge summary
14            NaN  Discharge summary
15            NaN  Discharge summary
16            NaN  Discharge summary
17            NaN  Discharge summary
18            NaN  Discharge summary
19            NaN  Discharge summary
20            NaN  Discharge summary
21            NaN  Discharge summary
22            NaN  Discharge summary
23            NaN  Discharge summary
24            NaN  Discharge summary
25            NaN  Discharge summary
26            NaN  Discharge summary
27            NaN  Discharge summary
28            NaN  Discharge summary
29            NaN  Discharge summary
...           ...                ...
1300943       NaN          Radiology
1300944       NaN          Radiology
1300945       NaN          Radiology
1300946       NaN          Radiology
1300947       NaN          Radiology
1300948       NaN          Radiology
1300949       NaN          Radiology
1300950       NaN          Radiology
1300951       NaN          Radiology
1300952       NaN          Radiology
1300953       NaN          Radiology
1300954       NaN          Radiology
1300955       NaN          Radiology
1300956       NaN          Radiology
1300957       NaN          Radiology
1300958       NaN          Radiology
1300959       NaN          Radiology
1300960       NaN          Radiology
1300961       NaN          Radiology
1300962       NaN          Radiology
1300963       NaN          Radiology
1300964       NaN          Radiology
1300965       NaN          Radiology
1300968       NaN          Radiology
1300969       NaN          Radiology
1300970       NaN          Radiology
1300971       NaN          Radiology
1300972       NaN          Radiology
1300973       NaN          Radiology
1300974       NaN          Radiology

                                               DESCRIPTION  CGID  ISERROR  \
0                                                   Report   NaN      NaN
1                                                   Report   NaN      NaN
2                                                   Report   NaN      NaN
3                                                   Report   NaN      NaN
4                                                   Report   NaN      NaN
5                                                   Report   NaN      NaN
6                                                   Report   NaN      NaN
7                                                   Report   NaN      NaN
8                                                   Report   NaN      NaN
9                                                   Report   NaN      NaN
10                                                  Report   NaN      NaN
11                                                  Report   NaN      NaN
12                                                  Report   NaN      NaN
13                                                  Report   NaN      NaN
14                                                  Report   NaN      NaN
15                                                  Report   NaN      NaN
16                                                  Report   NaN      NaN
17                                                  Report   NaN      NaN
18                                                  Report   NaN      NaN
19                                                  Report   NaN      NaN
20                                                  Report   NaN      NaN
21                                                  Report   NaN      NaN
22                                                  Report   NaN      NaN
23                                                  Report   NaN      NaN
24                                                  Report   NaN      NaN
25                                                  Report   NaN      NaN
26                                                  Report   NaN      NaN
27                                                  Report   NaN      NaN
28                                                  Report   NaN      NaN
29                                                  Report   NaN      NaN
...                                                    ...   ...      ...
1300943                  R ANKLE (AP, MORTISE & LAT) RIGHT   NaN      NaN
1300944                   R HAND (AP, LAT & OBLIQUE) RIGHT   NaN      NaN
1300945                      CT ABD & PELVIS WITH CONTRAST   NaN      NaN
1300946                             UNILAT UP EXT VEINS US   NaN      NaN
1300947                               CT HEAD W/O CONTRAST   NaN      NaN
1300948                                CHEST (PORTABLE AP)   NaN      NaN
1300949                              CT CHEST W/O CONTRAST   NaN      NaN
1300950                                   CHEST (PA & LAT)   NaN      NaN
1300951                              CT CHEST W/O CONTRAST   NaN      NaN
1300952                                CT CHEST W/CONTRAST   NaN      NaN
1300953                            CT C-SPINE W/O CONTRAST   NaN      NaN
1300954                                CT CHEST W/CONTRAST   NaN      NaN
1300955                                CT CHEST W/CONTRAST   NaN      NaN
1300956                                   PORTABLE ABDOMEN   NaN      NaN
1300957                                         RENAL U.S.   NaN      NaN
1300958  RO HIP NAILING IN OR W/FILMS & FLUORO RIGHT IN...   NaN      NaN
1300959                                CHEST (PORTABLE AP)   NaN      NaN
1300960                    L MR SHOULDER W/O CONTRAST LEFT   NaN      NaN
1300961                           MR PELVIS W&W/O CONTRAST   NaN      NaN
1300962                                CHEST (PORTABLE AP)   NaN      NaN
1300963       CT SINUS/MANDIBLE/MAXILLOFACIAL W/O CONTRAST   NaN      NaN
1300964                     LP FOOT AP,LAT & OBL LEFT PORT   NaN      NaN
1300965            PARACENTESIS DIAG/THERAP W IMAGING GUID   NaN      NaN
1300968                                   CHEST (PA & LAT)   NaN      NaN
1300969                                   CHEST (PA & LAT)   NaN      NaN
1300970                                   CHEST (PA & LAT)   NaN      NaN
1300971                                  BY SAME PHYSICIAN   NaN      NaN
1300972                       CT ABD & PELVIS W/O CONTRAST   NaN      NaN
1300973                                CT CHEST W/CONTRAST   NaN      NaN
1300974             CTA CHEST W&W/O C&RECONS, NON-CORONARY   NaN      NaN

                                                      TEXT
0        Admission Date:  [**2151-7-16**]       Dischar...
1        Admission Date:  [**2118-6-2**]       Discharg...
2        Admission Date:  [**2119-5-4**]              D...
3        Admission Date:  [**2124-7-21**]              ...
4        Admission Date:  [**2162-3-3**]              D...
5        Admission Date:  [**2172-3-5**]              D...
6        Admission Date:  [**2112-12-8**]              ...
7        Admission Date:  [**2150-2-25**]              ...
8        Admission Date:  [**2118-8-10**]              ...
9        Admission Date:  [**2118-12-7**]              ...
10       Admission Date:  [**2125-2-9**]              D...
11       Admission Date:  [**2192-4-19**]              ...
12       Admission Date:  [**2143-4-25**]     Discharge...
13       Admission Date:  [**2143-4-25**]     Discharge...
14       Admission Date:  [**2199-2-8**]     Discharge ...
15       Admission Date:  [**2203-11-3**]              ...
16       Admission Date:  [**2152-10-2**]       Dischar...
17       Admission Date:  [**2194-7-18**]              ...
18       Admission Date:  [**2195-4-14**]              ...
19       Admission Date:  [**2130-2-3**]              D...
20       Admission Date:  [**2131-6-28**]              ...
21       Admission Date:  [**2131-7-5**]              D...
22       Admission Date:  [**2190-2-11**]              ...
23       Admission Date:  [**2105-4-16**]              ...
24       Admission Date:  [**2198-4-23**]              ...
25       Admission Date:  [**2127-7-21**]              ...
26       Admission Date:  [**2131-12-23**]             ...
27       Admission Date: [**2189-12-1**]        Dischar...
28       Admission Date:  [**2188-5-9**]              D...
29       Admission Date:  [**2194-1-7**]              D...
...                                                    ...
1300943  [**2108-11-3**] 11:50 AM\n ANKLE (AP, MORTISE ...
1300944  [**2195-10-10**] 1:06 PM\n HAND (AP, LAT & OBL...
1300945  [**2197-10-14**] 2:24 PM\n CT ABD & PELVIS WIT...
1300946  [**2184-12-9**] 1:04 PM\n UNILAT UP EXT VEINS ...
1300947  [**2140-11-20**] 3:21 AM\n CT HEAD W/O CONTRAS...
1300948  [**2154-1-25**] 4:49 AM\n CHEST (PORTABLE AP) ...
1300949  [**2174-12-19**] 2:32 PM\n CT CHEST W/O CONTRA...
1300950  [**2174-12-19**] 2:42 PM\n CHEST (PA & LAT)   ...
1300951  [**2105-6-13**] 6:22 PM\n CT CHEST W/O CONTRAS...
1300952  [**2122-7-18**] 8:31 AM\n CT CHEST W/CONTRAST ...
1300953  [**2112-6-25**] 6:34 PM\n CT C-SPINE W/O CONTR...
1300954  [**2143-11-25**] 5:54 PM\n CT CHEST W/CONTRAST...
1300955  [**2171-12-9**] 6:54 PM\n CT CHEST W/CONTRAST;...
1300956  [**2171-4-12**] 11:10 PM\n PORTABLE ABDOMEN   ...
1300957  [**2140-11-22**] 5:04 PM\n RENAL U.S.         ...
1300958  [**2104-1-2**] 6:54 PM\n HIP NAILING IN OR W/F...
1300959  [**2155-1-7**] 12:42 PM\n CHEST (PORTABLE AP) ...
1300960  [**2168-12-8**] 6:59 PM\n MR SHOULDER W/O CONT...
1300961  [**2168-12-8**] 7:00 PM\n MR PELVIS W&W/O CONT...
1300962  [**2193-12-13**] 7:17 AM\n CHEST (PORTABLE AP)...
1300963  [**2139-3-2**] 3:13 PM\n CT SINUS/MANDIBLE/MAX...
1300964  [**2111-1-28**] 1:27 PM\n FOOT AP,LAT & OBL LE...
1300965  [**2165-1-9**] 1:32 PM\n PARACENTESIS DIAG/THE...
1300968  [**2190-1-6**] 10:34 PM\n CHEST (PA & LAT)    ...
1300969  [**2117-12-30**] 2:41 AM\n CHEST (PA & LAT)   ...
1300970  [**2165-10-18**] 12:14 PM\n CHEST (PA & LAT)  ...
1300971  [**2145-1-25**] 5:51 PM\n CHEST (PA & LAT); -7...
1300972  [**2193-1-21**] 6:04 PM\n CT ABD & PELVIS W/O ...
1300973  [**2199-1-21**] 6:38 PM\n CT CHEST W/CONTRAST;...
1300974  [**2121-1-13**] 11:36 PM\n CTA CHEST W&W/O C&R...

[581931 rows x 11 columns]

In [14]:
proc=pd.read_csv('PROCEDURES_ICD.csv',error_bad_lines=False)
proc.shape
#list(proc)
#proc.columns
proc.groupby(['ICD9_CODE']).size()

df_proc_sep=proc.loc[proc['ICD9_CODE'].isin(['0202','3995','458'])]
print (df_proc_sep)
#df_proc_sep['ICD9_CODE'].unique() #check if we have everything

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM  ICD9_CODE
71        1015       10721   107493        2       3995
75        1019       25225   187093        1       3995
92        1036        3929   172648        2       3995
157       1101        7546   181171        2       3995
311        641        4113   146014        4       3995
374        704       17743   162994        2       3995
394        724        1701   191476        8       3995
401        731       25779   155168        1       3995
404        734       49034   159499        1       3995
428          7       87266   122187        2       3995
541        120       20409   102314        7       3995
580        159       23179   184235        2       3995
696        275       13413   117631        2       3995
725        304       23039   104767        1       3995
761        340       25708   197245        1       3995
762        341       25708   197245        2       3995
788        367       18738   147642        2       3995
893        472       12411   173718        2       3995
894        473       12411   173718        3       3995
898        477       12411   173718        7       3995
899        478       12411   173718        8       3995
929        508       15232   142823        4       3995
997        576       17767   171865        5       3995
1051      1829        1900   116403        1       3995
1150      1928        4064   143431        2       3995
1193       772       17807   122482        2       3995
1211       790         948   107027        2       3995
1300       879       12564   129578        3       3995
1301       880       17722   106079        1       3995
1460      2976        7381   115088        8       3995
...        ...         ...      ...      ...        ...
238271  222838       46667   129653        2       3995
238302  225058       18711   101806        5       3995
238371  225127       48872   138211        5       3995
238381  225137       86209   117573        1       3995
238388  225144       63403   190662        2       3995
238540  239371       23657   130222        1       3995
238559  239390       47613   193577       16       3995
238643  239474       89697   103105        1       3995
238748  224146       73249   170654        2       3995
238754  224152       63364   174189        1       3995
238793  226523       91855   174847        1       3995
238830  226560        1709   187809        1       3995
238837  226567       24084   140363        7       3995
238847  226577       76802   113814        2       3995
238918  228836       44373   162053        2       3995
239110  220533       67154   180663        7       3995
239320  228929       81661   198842        1       3995
239344  228953       62833   181806       15       3995
239374  221837       44164   108132        4       3995
239613  222913       29866   128631        2       3995
239619  222919       43450   177207        3       3995
239628  222928       61991   146377        4       3995
239657  222957       75350   171975        7       3995
239757  225246       98525   168505       14       3995
239859  230576       95201   192304       19       3995
239866  230583       67796   155851        2       3995
239893  225944       79163   160435        1       3995
239954  226005       57321   161002       13       3995
240004  226055       20656   120824        1       3995
240035  228275        8698   188386        3       3995

[3385 rows x 5 columns]

In [17]:
df_lab=lab.head(1000)
df_proc_nsep=df_proc_sep.head(1000)



df_lab_proc=pd.merge(df_lab[['ROW_ID','SUBJECT_ID','HADM_ID','ITEMID','CHARTTIME','VALUE','VALUENUM','VALUEUOM','FLAG']],
                    df_proc_nsep[['ROW_ID','SUBJECT_ID','HADM_ID','SEQ_NUM','ICD9_CODE']],
                    on= ['SUBJECT_ID','HADM_ID'],
                    how='outer')
df_lab_proc.columns

Index(['ROW_ID_x', 'SUBJECT_ID', 'HADM_ID', 'ITEMID', 'CHARTTIME', 'VALUE',
       'VALUENUM', 'VALUEUOM', 'FLAG', 'ROW_ID_y', 'SEQ_NUM', 'ICD9_CODE'],
      dtype='object')

In [18]:
df_notes_cate_ten=df_notes_cate.head(1000)
print (df_notes_cate_ten)

#df_lab=lab.head(1000)
#print (df_lab)

#df_proc=proc.head(1000)

df_lab_notes_proc= pd.merge(df_lab_proc[['ROW_ID_x','SUBJECT_ID','HADM_ID','ITEMID','CHARTTIME','VALUE','VALUENUM','VALUEUOM','FLAG','ROW_ID_y','SEQ_NUM','ICD9_CODE']],    
                 df_notes_cate_ten[['ROW_ID','SUBJECT_ID','HADM_ID','CHARTDATE','CHARTTIME','STORETIME','CATEGORY','DESCRIPTION','CGID','ISERROR','TEXT']],
                  on= ['SUBJECT_ID','HADM_ID'],
                    how ='outer')

print(df_lab_notes_proc)

     ROW_ID  SUBJECT_ID   HADM_ID   CHARTDATE CHARTTIME STORETIME  \
0       174       22532  167853.0  2151-08-04       NaN       NaN
1       175       13702  107527.0  2118-06-14       NaN       NaN
2       176       13702  167118.0  2119-05-25       NaN       NaN
3       177       13702  196489.0  2124-08-18       NaN       NaN
4       178       26880  135453.0  2162-03-25       NaN       NaN
5       179       53181  170490.0  2172-03-08       NaN       NaN
6       180       20646  134727.0  2112-12-10       NaN       NaN
7       181       42130  114236.0  2150-03-01       NaN       NaN
8       182       56174  163469.0  2118-08-12       NaN       NaN
9       183       56174  189681.0  2118-12-09       NaN       NaN
10      184       28063  121936.0  2125-02-16       NaN       NaN
11      185        1136  139574.0  2192-05-23       NaN       NaN
12      223        5350  169684.0  2143-04-30       NaN       NaN
13      224        5350  169684.0  2143-04-30       NaN       NaN
14      225       11369  121504.0  2199-02-14       NaN       NaN
15      226       11369  103786.0  2203-11-12       NaN       NaN
16      227       10044  124073.0  2152-10-11       NaN       NaN
17      228       79900  120644.0  2194-07-25       NaN       NaN
18      229       79900  128319.0  2195-04-17       NaN       NaN
19      230        9805  188132.0  2130-02-09       NaN       NaN
20      231        9805  177212.0  2131-07-05       NaN       NaN
21      232        9805  177212.0  2131-07-23       NaN       NaN
22      233       99091  185274.0  2190-02-24       NaN       NaN
23      234       70108  186093.0  2105-04-27       NaN       NaN
24      235       19631  185175.0  2198-05-08       NaN       NaN
25      236       26601  116471.0  2127-07-30       NaN       NaN
26      237       26601  155131.0  2131-12-29       NaN       NaN
27      238        5136  151912.0  2189-12-10       NaN       NaN
28      239       24424  146533.0  2188-05-14       NaN       NaN
29      240       27051  113012.0  2194-02-02       NaN       NaN
..      ...         ...       ...         ...       ...       ...
970     657       26203  186592.0  2152-12-02       NaN       NaN
971     658       22043  183211.0  2135-05-09       NaN       NaN
972     659       22043  176181.0  2135-08-30       NaN       NaN
973     660        6115  105047.0  2194-03-01       NaN       NaN
974    1654        8070  121121.0  2102-05-26       NaN       NaN
975    1655        8070  131159.0  2105-03-02       NaN       NaN
976    1656       29578  133340.0  2125-06-25       NaN       NaN
977    1657       72270  195344.0  2181-06-19       NaN       NaN
978    1658       27382  161290.0  2119-09-01       NaN       NaN
979    1659       91842  192217.0  2116-09-22       NaN       NaN
980    1660       91842  189902.0  2117-07-27       NaN       NaN
981    1661       19346  102428.0  2189-07-19       NaN       NaN
982    1662       19346  163682.0  2192-01-23       NaN       NaN
983    1663       60809  131743.0  2123-05-01       NaN       NaN
984    1664       26303  153996.0  2141-08-01       NaN       NaN
985    1665       67390  103841.0  2108-07-03       NaN       NaN
986    1666       25159  188376.0  2167-11-21       NaN       NaN
987    1667       12145  173661.0  2110-04-11       NaN       NaN
988    1668       52076  109131.0  2112-07-01       NaN       NaN
989    1669       31043  147334.0  2188-03-19       NaN       NaN
990    1670       10830  120142.0  2116-07-13       NaN       NaN
991    1671        6143  152966.0  2152-02-14       NaN       NaN
992    1672       21501  183803.0  2138-07-28       NaN       NaN
993    1156       12411  173718.0  2183-03-21       NaN       NaN
994    1157       12411  163752.0  2184-07-11       NaN       NaN
995    1158       15198  137838.0  2184-10-21       NaN       NaN
996    1159        2712  198266.0  2101-02-15       NaN       NaN
997    1160        2712  157537.0  2103-07-18       NaN       NaN
998    1161       18511  123903.0  2191-03-03       NaN       NaN
999    1162       76558  186116.0  2157-12-04       NaN       NaN

              CATEGORY DESCRIPTION  CGID  ISERROR  \
0    Discharge summary      Report   NaN      NaN
1    Discharge summary      Report   NaN      NaN
2    Discharge summary      Report   NaN      NaN
3    Discharge summary      Report   NaN      NaN
4    Discharge summary      Report   NaN      NaN
5    Discharge summary      Report   NaN      NaN
6    Discharge summary      Report   NaN      NaN
7    Discharge summary      Report   NaN      NaN
8    Discharge summary      Report   NaN      NaN
9    Discharge summary      Report   NaN      NaN
10   Discharge summary      Report   NaN      NaN
11   Discharge summary      Report   NaN      NaN
12   Discharge summary      Report   NaN      NaN
13   Discharge summary      Report   NaN      NaN
14   Discharge summary      Report   NaN      NaN
15   Discharge summary      Report   NaN      NaN
16   Discharge summary      Report   NaN      NaN
17   Discharge summary      Report   NaN      NaN
18   Discharge summary      Report   NaN      NaN
19   Discharge summary      Report   NaN      NaN
20   Discharge summary      Report   NaN      NaN
21   Discharge summary      Report   NaN      NaN
22   Discharge summary      Report   NaN      NaN
23   Discharge summary      Report   NaN      NaN
24   Discharge summary      Report   NaN      NaN
25   Discharge summary      Report   NaN      NaN
26   Discharge summary      Report   NaN      NaN
27   Discharge summary      Report   NaN      NaN
28   Discharge summary      Report   NaN      NaN
29   Discharge summary      Report   NaN      NaN
..                 ...         ...   ...      ...
970  Discharge summary      Report   NaN      NaN
971  Discharge summary      Report   NaN      NaN
972  Discharge summary      Report   NaN      NaN
973  Discharge summary      Report   NaN      NaN
974  Discharge summary      Report   NaN      NaN
975  Discharge summary      Report   NaN      NaN
976  Discharge summary      Report   NaN      NaN
977  Discharge summary      Report   NaN      NaN
978  Discharge summary      Report   NaN      NaN
979  Discharge summary      Report   NaN      NaN
980  Discharge summary      Report   NaN      NaN
981  Discharge summary      Report   NaN      NaN
982  Discharge summary      Report   NaN      NaN
983  Discharge summary      Report   NaN      NaN
984  Discharge summary      Report   NaN      NaN
985  Discharge summary      Report   NaN      NaN
986  Discharge summary      Report   NaN      NaN
987  Discharge summary      Report   NaN      NaN
988  Discharge summary      Report   NaN      NaN
989  Discharge summary      Report   NaN      NaN
990  Discharge summary      Report   NaN      NaN
991  Discharge summary      Report   NaN      NaN
992  Discharge summary      Report   NaN      NaN
993  Discharge summary      Report   NaN      NaN
994  Discharge summary      Report   NaN      NaN
995  Discharge summary      Report   NaN      NaN
996  Discharge summary      Report   NaN      NaN
997  Discharge summary      Report   NaN      NaN
998  Discharge summary      Report   NaN      NaN
999  Discharge summary      Report   NaN      NaN

                                                  TEXT
0    Admission Date:  [**2151-7-16**]       Dischar...
1    Admission Date:  [**2118-6-2**]       Discharg...
2    Admission Date:  [**2119-5-4**]              D...
3    Admission Date:  [**2124-7-21**]              ...
4    Admission Date:  [**2162-3-3**]              D...
5    Admission Date:  [**2172-3-5**]              D...
6    Admission Date:  [**2112-12-8**]              ...
7    Admission Date:  [**2150-2-25**]              ...
8    Admission Date:  [**2118-8-10**]              ...
9    Admission Date:  [**2118-12-7**]              ...
10   Admission Date:  [**2125-2-9**]              D...
11   Admission Date:  [**2192-4-19**]              ...
12   Admission Date:  [**2143-4-25**]     Discharge...
13   Admission Date:  [**2143-4-25**]     Discharge...
14   Admission Date:  [**2199-2-8**]     Discharge ...
15   Admission Date:  [**2203-11-3**]              ...
16   Admission Date:  [**2152-10-2**]       Dischar...
17   Admission Date:  [**2194-7-18**]              ...
18   Admission Date:  [**2195-4-14**]              ...
19   Admission Date:  [**2130-2-3**]              D...
20   Admission Date:  [**2131-6-28**]              ...
21   Admission Date:  [**2131-7-5**]              D...
22   Admission Date:  [**2190-2-11**]              ...
23   Admission Date:  [**2105-4-16**]              ...
24   Admission Date:  [**2198-4-23**]              ...
25   Admission Date:  [**2127-7-21**]              ...
26   Admission Date:  [**2131-12-23**]             ...
27   Admission Date: [**2189-12-1**]        Dischar...
28   Admission Date:  [**2188-5-9**]              D...
29   Admission Date:  [**2194-1-7**]              D...
..                                                 ...
970  Admission Date:  [**2152-11-25**]             ...
971  Admission Date:  [**2135-4-20**]              ...
972  Admission Date: [**2135-8-15**]        Dischar...
973  Admission Date: [**2194-2-21**]        Dischar...
974  Admission Date: [**2102-5-23**]        Dischar...
975  Admission Date:  [**2105-2-12**]              ...
976  Admission Date:  [**2125-6-19**]              ...
977  Admission Date:  [**2181-5-20**]              ...
978  Admission Date:  [**2119-8-15**]              ...
979  Admission Date:  [**2116-9-12**]              ...
980  Admission Date:  [**2117-7-15**]              ...
981  Admission Date:  [**2189-7-15**]     Discharge...
982  Admission Date:  [**2192-1-17**]              ...
983  Admission Date:  [**2123-4-8**]              D...
984  Admission Date:  [**2141-7-29**]     Discharge...
985  Admission Date:  [**2108-6-29**]              ...
986  Admission Date:  [**2167-11-16**]     Discharg...
987  Admission Date:  [**2110-3-31**]       Dischar...
988  Admission Date:  [**2112-6-26**]              ...
989  Admission Date:  [**2188-3-9**]              D...
990  Admission Date:  [**2116-7-6**]              D...
991  e\nName:  [**Known lastname 395**], [**Known f...
992  Admission Date:  [**2138-7-14**]              ...
993  Admission Date:  [**2183-3-12**]     Discharge...
994  Admission Date:  [**2184-7-5**]     Discharge ...
995  Admission Date:  [**2184-10-14**]       Discha...
996  Admission Date:  [**2101-2-10**]              ...
997  Admission Date:  [**2103-7-17**]              ...
998  Admission Date:  [**2191-2-23**]              ...
999  Admission Date:  [**2157-12-1**]              ...

[1000 rows x 11 columns]
      ROW_ID_x  SUBJECT_ID   HADM_ID   ITEMID          CHARTTIME_x  \
0        281.0           3       NaN  50820.0  2101-10-12 16:07:00
1        282.0           3       NaN  50800.0  2101-10-12 18:17:00
2        283.0           3       NaN  50802.0  2101-10-12 18:17:00
3        284.0           3       NaN  50804.0  2101-10-12 18:17:00
4        285.0           3       NaN  50808.0  2101-10-12 18:17:00
5        286.0           3       NaN  50812.0  2101-10-12 18:17:00
6        287.0           3       NaN  50813.0  2101-10-12 18:17:00
7        288.0           3       NaN  50818.0  2101-10-12 18:17:00
8        289.0           3       NaN  50820.0  2101-10-12 18:17:00
9        290.0           3       NaN  50821.0  2101-10-12 18:17:00
10       291.0           3       NaN  50825.0  2101-10-12 18:17:00
11       292.0           3       NaN  50868.0  2101-10-13 03:00:00
12       293.0           3       NaN  50882.0  2101-10-13 03:00:00
13       294.0           3       NaN  50893.0  2101-10-13 03:00:00
14       295.0           3       NaN  50902.0  2101-10-13 03:00:00
15       296.0           3       NaN  50912.0  2101-10-13 03:00:00
16       297.0           3       NaN  50931.0  2101-10-13 03:00:00
17       298.0           3       NaN  50960.0  2101-10-13 03:00:00
18       299.0           3       NaN  50970.0  2101-10-13 03:00:00
19       300.0           3       NaN  50971.0  2101-10-13 03:00:00
20       301.0           3       NaN  50983.0  2101-10-13 03:00:00
21       302.0           3       NaN  51006.0  2101-10-13 03:00:00
22       303.0           3       NaN  51009.0  2101-10-13 03:00:00
23       304.0           3       NaN  51221.0  2101-10-13 03:00:00
24       305.0           3       NaN  50868.0  2101-10-13 15:47:00
25       306.0           3       NaN  50882.0  2101-10-13 15:47:00
26       307.0           3       NaN  50893.0  2101-10-13 15:47:00
27       308.0           3       NaN  50902.0  2101-10-13 15:47:00
28       309.0           3       NaN  50912.0  2101-10-13 15:47:00
29       310.0           3       NaN  50931.0  2101-10-13 15:47:00
...        ...         ...       ...      ...                  ...
2936       NaN       21156  146554.0      NaN                  NaN
2937       NaN       21156  170135.0      NaN                  NaN
2938       NaN       27695  182483.0      NaN                  NaN
2939       NaN       26203  186592.0      NaN                  NaN
2940       NaN       22043  183211.0      NaN                  NaN
2941       NaN       22043  176181.0      NaN                  NaN
2942       NaN        8070  121121.0      NaN                  NaN
2943       NaN        8070  131159.0      NaN                  NaN
2944       NaN       29578  133340.0      NaN                  NaN
2945       NaN       72270  195344.0      NaN                  NaN
2946       NaN       27382  161290.0      NaN                  NaN
2947       NaN       91842  192217.0      NaN                  NaN
2948       NaN       91842  189902.0      NaN                  NaN
2949       NaN       19346  102428.0      NaN                  NaN
2950       NaN       19346  163682.0      NaN                  NaN
2951       NaN       60809  131743.0      NaN                  NaN
2952       NaN       26303  153996.0      NaN                  NaN
2953       NaN       67390  103841.0      NaN                  NaN
2954       NaN       25159  188376.0      NaN                  NaN
2955       NaN       12145  173661.0      NaN                  NaN
2956       NaN       52076  109131.0      NaN                  NaN
2957       NaN       31043  147334.0      NaN                  NaN
2958       NaN       10830  120142.0      NaN                  NaN
2959       NaN        6143  152966.0      NaN                  NaN
2960       NaN       21501  183803.0      NaN                  NaN
2961       NaN       15198  137838.0      NaN                  NaN
2962       NaN        2712  198266.0      NaN                  NaN
2963       NaN        2712  157537.0      NaN                  NaN
2964       NaN       18511  123903.0      NaN                  NaN
2965       NaN       76558  186116.0      NaN                  NaN

              VALUE  VALUENUM VALUEUOM      FLAG  ROW_ID_y  \
0              7.39      7.39    units       NaN       NaN
1               ART       NaN      NaN       NaN       NaN
2                -1     -1.00    mEq/L       NaN       NaN
3                22     22.00    mEq/L       NaN       NaN
4              0.93      0.93   mmol/L  abnormal       NaN
5     NOT INTUBATED       NaN      NaN       NaN       NaN
6               1.8      1.80   mmol/L       NaN       NaN
7                33     33.00    mm Hg       NaN       NaN
8              7.42      7.42    units       NaN       NaN
9                80     80.00    mm Hg       NaN       NaN
10             35.8     35.80      NaN       NaN       NaN
11               13     13.00    mEq/L       NaN       NaN
12               23     23.00    mEq/L       NaN       NaN
13              8.4      8.40    mg/dL       NaN       NaN
14              109    109.00    mEq/L       NaN       NaN
15              1.7      1.70    mg/dL  abnormal       NaN
16              137    137.00    mg/dL  abnormal       NaN
17              1.8      1.80    mg/dL       NaN       NaN
18              3.7      3.70    mg/dL       NaN       NaN
19              4.3      4.30    mEq/L       NaN       NaN
20              141    141.00    mEq/L       NaN       NaN
21               33     33.00    mg/dL  abnormal       NaN
22             16.8     16.80    ug/mL  abnormal       NaN
23             30.3     30.30        %  abnormal       NaN
24               14     14.00    mEq/L       NaN       NaN
25               25     25.00    mEq/L       NaN       NaN
26              8.2      8.20    mg/dL  abnormal       NaN
27              107    107.00    mEq/L       NaN       NaN
28              1.5      1.50    mg/dL  abnormal       NaN
29              152    152.00    mg/dL  abnormal       NaN
...             ...       ...      ...       ...       ...
2936            NaN       NaN      NaN       NaN       NaN
2937            NaN       NaN      NaN       NaN       NaN
2938            NaN       NaN      NaN       NaN       NaN
2939            NaN       NaN      NaN       NaN       NaN
2940            NaN       NaN      NaN       NaN       NaN
2941            NaN       NaN      NaN       NaN       NaN
2942            NaN       NaN      NaN       NaN       NaN
2943            NaN       NaN      NaN       NaN       NaN
2944            NaN       NaN      NaN       NaN       NaN
2945            NaN       NaN      NaN       NaN       NaN
2946            NaN       NaN      NaN       NaN       NaN
2947            NaN       NaN      NaN       NaN       NaN
2948            NaN       NaN      NaN       NaN       NaN
2949            NaN       NaN      NaN       NaN       NaN
2950            NaN       NaN      NaN       NaN       NaN
2951            NaN       NaN      NaN       NaN       NaN
2952            NaN       NaN      NaN       NaN       NaN
2953            NaN       NaN      NaN       NaN       NaN
2954            NaN       NaN      NaN       NaN       NaN
2955            NaN       NaN      NaN       NaN       NaN
2956            NaN       NaN      NaN       NaN       NaN
2957            NaN       NaN      NaN       NaN       NaN
2958            NaN       NaN      NaN       NaN       NaN
2959            NaN       NaN      NaN       NaN       NaN
2960            NaN       NaN      NaN       NaN       NaN
2961            NaN       NaN      NaN       NaN       NaN
2962            NaN       NaN      NaN       NaN       NaN
2963            NaN       NaN      NaN       NaN       NaN
2964            NaN       NaN      NaN       NaN       NaN
2965            NaN       NaN      NaN       NaN       NaN

                            ...                          ICD9_CODE  ROW_ID  \
0                           ...                                NaN     NaN
1                           ...                                NaN     NaN
2                           ...                                NaN     NaN
3                           ...                                NaN     NaN
4                           ...                                NaN     NaN
5                           ...                                NaN     NaN
6                           ...                                NaN     NaN
7                           ...                                NaN     NaN
8                           ...                                NaN     NaN
9                           ...                                NaN     NaN
10                          ...                                NaN     NaN
11                          ...                                NaN     NaN
12                          ...                                NaN     NaN
13                          ...                                NaN     NaN
14                          ...                                NaN     NaN
15                          ...                                NaN     NaN
16                          ...                                NaN     NaN
17                          ...                                NaN     NaN
18                          ...                                NaN     NaN

In [ ]:
#Prepare a column in the dataframe that would filter our that seperate data just for systolic blood pressure <90mmHg  
#and fluid replacement.

#df_lab_notes['SYSTOLIC_BLOOD']= (df_lab_notes.VALUENUM

In [35]:
#shuffle the sample to make a training set,validation set and test set for the predictive model- 
df_lab_notes_proc=df_lab_notes_proc.sample( n= len(df_lab_notes_proc),random_state= 42)
df_lab_notes_proc= df_lab_notes_proc.reset_index(drop=True)

df_test_valid=df_lab_notes_proc.sample(frac=0.30,random_state=42) #save 30% of the data as valid and test

df_test= df_test_valid.sample(frac= 0.5,random_state=42)
df_valid= df_test_valid.drop(df_test.index)

df_train_all=df_lab_notes_proc.drop(df_test_valid.index) #use the rest of the data as training data

print(df_train_all)

#check if we have sampled the data well. Check for prevalence.
print ('Test prevalence of sepsis related case(n= %d):' %len(df_test),df_test['ICD9_CODE'].isin(['3995','0202','458']).sum()/len(df_test))
print('Valid prevalence (n= %d):' %len(df_valid),df_valid['ICD9_CODE'].isin(['3995','0202','458']).sum()/len(df_valid))
print ('Train all prevalence (n= %d):' %len(df_train_all),df_train_all['ICD9_CODE'].isin(['3995','0202','458']).sum()/len(df_train_all))
print('all sample (n= %d)'%len(df_lab_notes_proc))

      ROW_ID_x  SUBJECT_ID   HADM_ID   ITEMID          CHARTTIME_x  \
1          NaN       16394  128478.0      NaN                  NaN
2          NaN       26274  126494.0      NaN                  NaN
3       1133.0           3  145834.0  50812.0  2101-10-23 10:14:00
4          NaN        1544  119646.0      NaN                  NaN
5          NaN       16790  105717.0      NaN                  NaN
6        394.0           3       NaN  50800.0  2101-10-15 12:42:00
8       1004.0           3  145834.0  50816.0  2101-10-22 11:21:00
9          NaN        9148  129601.0      NaN                  NaN
10         NaN       11827  144355.0      NaN                  NaN
11         NaN        1106  188969.0      NaN                  NaN
13       619.0           3  145834.0  50812.0  2101-10-21 00:42:00
14       511.0           3  145834.0  50800.0  2101-10-20 19:14:00
15       949.0           3  145834.0  51222.0  2101-10-22 04:00:00
16       363.0           3       NaN  50868.0  2101-10-15 03:30:00
17         NaN       20708  130938.0      NaN                  NaN
18         NaN        5369  114826.0      NaN                  NaN
19       945.0           3  145834.0  51137.0  2101-10-22 04:00:00
20         NaN       23748  174943.0      NaN                  NaN
21         NaN        8631  186984.0      NaN                  NaN
22         NaN       17977  165755.0      NaN                  NaN
23       161.0           3       NaN  51476.0  2101-10-12 00:20:00
24         NaN       22077  132686.0      NaN                  NaN
26         NaN        6160  104091.0      NaN                  NaN
27       996.0           3  145834.0  50804.0  2101-10-22 10:16:00
28       953.0           3  145834.0  51248.0  2101-10-22 04:00:00
31         NaN        3400  111651.0      NaN                  NaN
33         NaN        5191  138987.0      NaN                  NaN
34         NaN        7275  103990.0      NaN                  NaN
35       581.0           3  145834.0  50800.0  2101-10-20 20:04:00
36         NaN       95271  125900.0      NaN                  NaN
...        ...         ...       ...      ...                  ...
2920     153.0           3       NaN  51274.0  2101-10-11 19:10:00
2921       NaN       24622  125497.0      NaN                  NaN
2924       NaN       18764  110589.0      NaN                  NaN
2925       NaN        4264  148786.0      NaN                  NaN
2926       NaN       25780  199988.0      NaN                  NaN
2927       NaN        1286  154417.0      NaN                  NaN
2928       NaN       20515  143372.0      NaN                  NaN
2930       NaN       15103  172080.0      NaN                  NaN
2931       NaN       42261  167276.0      NaN                  NaN
2932       NaN       98944  112849.0      NaN                  NaN
2935       NaN        9539  184930.0      NaN                  NaN
2936       NaN       31171  162332.0      NaN                  NaN
2937     278.0           3       NaN  50808.0  2101-10-12 16:07:00
2938       NaN        3841  186347.0      NaN                  NaN
2939       NaN       16881  106037.0      NaN                  NaN
2940       NaN       19319  177792.0      NaN                  NaN
2941    1153.0           3  145834.0  50825.0  2101-10-23 10:22:00
2942     398.0           3       NaN  50882.0  2101-10-16 04:00:00
2943       NaN        3929  103671.0      NaN                  NaN
2945       NaN       15472  170963.0      NaN                  NaN
2946       NaN       17232  109145.0      NaN                  NaN
2947       NaN       24841  104290.0      NaN                  NaN
2949       NaN       21927  133804.0      NaN                  NaN
2953       NaN       11486  150782.0      NaN                  NaN
2954       NaN        5597  154662.0      NaN                  NaN
2957       NaN       14764  133233.0      NaN                  NaN
2958    2325.0           4       NaN  51267.0  2191-04-22 16:15:00
2959      70.0           3       NaN  51265.0  2101-10-04 15:24:00
2960       NaN       74364  170443.0      NaN                  NaN
2963       NaN       24622  121467.0      NaN                  NaN

           VALUE  VALUENUM VALUEUOM      FLAG  ROW_ID_y  \
1            NaN       NaN      NaN       NaN    5621.0
2            NaN       NaN      NaN       NaN  105368.0
3      INTUBATED       NaN      NaN       NaN       NaN
4            NaN       NaN      NaN       NaN   61472.0
5            NaN       NaN      NaN       NaN   18745.0
6            ART       NaN      NaN       NaN       NaN
8             40     40.00      NaN       NaN       NaN
9            NaN       NaN      NaN       NaN   27650.0
10           NaN       NaN      NaN       NaN   30087.0
11           NaN       NaN      NaN       NaN       NaN
13     INTUBATED       NaN      NaN       NaN       NaN
14           ART       NaN      NaN       NaN       NaN
15           9.5      9.50     g/dL  abnormal       NaN
16            15     15.00    mEq/L       NaN       NaN
17           NaN       NaN      NaN       NaN       NaN
18           NaN       NaN      NaN       NaN       NaN
19        NORMAL       NaN      NaN       NaN       NaN
20           NaN       NaN      NaN       NaN   46918.0
21           NaN       NaN      NaN       NaN       NaN
22           NaN       NaN      NaN       NaN       NaN
23           0-2       NaN    #/hpf       NaN       NaN
24           NaN       NaN      NaN       NaN   22259.0
26           NaN       NaN      NaN       NaN   76004.0
27            17     17.00    mEq/L       NaN       NaN
28          30.1     30.10       pg       NaN       NaN
31           NaN       NaN      NaN       NaN       NaN
33           NaN       NaN      NaN       NaN       NaN
34           NaN       NaN      NaN       NaN   61170.0
35           ART       NaN      NaN       NaN       NaN
36           NaN       NaN      NaN       NaN       NaN
...          ...       ...      ...       ...       ...
2920        14.5     14.50  SECONDS  abnormal       NaN
2921         NaN       NaN      NaN       NaN       NaN
2924         NaN       NaN      NaN       NaN       NaN
2925         NaN       NaN      NaN       NaN       NaN
2926         NaN       NaN      NaN       NaN       NaN
2927         NaN       NaN      NaN       NaN       NaN
2928         NaN       NaN      NaN       NaN    7963.0
2930         NaN       NaN      NaN       NaN   26907.0
2931         NaN       NaN      NaN       NaN       NaN
2932         NaN       NaN      NaN       NaN       NaN
2935         NaN       NaN      NaN       NaN       NaN
2936         NaN       NaN      NaN       NaN       NaN
2937        1.15      1.15   mmol/L       NaN       NaN
2938         NaN       NaN      NaN       NaN   18662.0
2939         NaN       NaN      NaN       NaN   37435.0
2940         NaN       NaN      NaN       NaN       NaN
2941        36.7     36.70      NaN       NaN       NaN
2942          27     27.00    mEq/L       NaN       NaN
2943         NaN       NaN      NaN       NaN   21846.0
2945         NaN       NaN      NaN       NaN       NaN
2946         NaN       NaN      NaN       NaN   39855.0
2947         NaN       NaN      NaN       NaN    9798.0
2949         NaN       NaN      NaN       NaN    4029.0
2953         NaN       NaN      NaN       NaN   85786.0
2954         NaN       NaN      NaN       NaN   73972.0
2957         NaN       NaN      NaN       NaN    6953.0
2958  OCCASIONAL       NaN      NaN       NaN       NaN
2959         261    261.00     K/uL       NaN       NaN
2960         NaN       NaN      NaN       NaN       NaN
2963         NaN       NaN      NaN       NaN       NaN

                            ...                          ICD9_CODE  ROW_ID  \
1                           ...                              458.0     NaN
2                           ...                             3995.0     NaN
3                           ...                                NaN     NaN
4                           ...                             3995.0     NaN
5                           ...                              202.0     NaN
6                           ...                                NaN     NaN
8                           ...                                NaN     NaN
9                           ...                             3995.0     NaN
10                          ...                             3995.0     NaN
11                          ...                                NaN   463.0
13                          ...                                NaN     NaN
14                          ...                                NaN     NaN
15                          ...                                NaN     NaN
16                          ...                                NaN     NaN
17                          ...                                NaN   813.0
18                          ...                                NaN   259.0
19                          ...                                NaN     NaN
20                          ...                             3995.0     NaN
21                          ...                                NaN   124.0
22                          ...                                NaN   502.0
23                          ...                                NaN     NaN
24                          ...                             3995.0     NaN
26                          ...                             3995.0     NaN
27                          ...                                NaN     NaN
28                          ...                                NaN     NaN
31                          ...                                NaN   368.0
33                          ...                                NaN   630.0
34                          ...                             3995.0     NaN
35                          ...                                NaN     NaN
36                          ...                                NaN   496.0
...                         ...                                ...     ...
2920                        ...                                NaN     NaN
2921                        ...                                NaN   110.0
2924                        ...                                NaN   345.0
2925                        ...                                NaN   729.0
2926                        ...                                NaN   278.0
2927                        ...                                NaN    58.0
2928                        ...                             3995.0     NaN
2930                        ...                              458.0     NaN
2931                        ...                                NaN   575.0
2932                        ...                                NaN   674.0
2935                        ...                                NaN   860.0
2936                        ...                                NaN   861.0
2937                        ...                                NaN     NaN
2938                        ...                             3995.0     NaN
2939                        ...                             3995.0     NaN
2940                        ...                                NaN   842.0
2941                        ...                                NaN     NaN
2942                        ...                                NaN     NaN
2943                        ...                             3995.0     NaN
2945                        ...                                NaN    18.0
2946                        ...                             3995.0     NaN
2947                        ...                             3995.0     NaN
2949                        ...                             3995.0     NaN
2953                        ...                             3995.0     NaN
2954                        ...                             3995.0   306.0
2957                        ...                             3995.0     NaN
2958                        ...                                NaN     NaN
2959                        ...                                NaN     NaN
2960                        ...                                NaN   378.0
2963                        ...                                NaN    74.0

       CHARTDATE CHARTTIME_y STORETIME           CATEGORY DESCRIPTION CGID  \
1            NaN         NaN       NaN                NaN         NaN  NaN
2            NaN         NaN       NaN                NaN         NaN  NaN
3            NaN         NaN       NaN                NaN         NaN  NaN
4            NaN         NaN       NaN                NaN         NaN  NaN
5            NaN         NaN       NaN                NaN         NaN  NaN
6            NaN         NaN       NaN                NaN         NaN  NaN
8            NaN         NaN       NaN                NaN         NaN  NaN
9            NaN         NaN       NaN                NaN         NaN  NaN
10           NaN         NaN       NaN                NaN         NaN  NaN
11    2103-10-30         NaN       NaN  Discharge summary      Report  NaN
13           NaN         NaN       NaN                NaN         NaN  NaN
14           NaN         NaN       NaN                NaN         NaN  NaN
15           NaN         NaN       NaN                NaN         NaN  NaN
16           NaN         NaN       NaN                NaN         NaN  NaN
17    2162-09-26         NaN       NaN  Discharge summary      Report  NaN
18    2180-10-20         NaN       NaN  Discharge summary      Report  NaN
19           NaN         NaN       NaN                NaN         NaN  NaN
20           NaN         NaN       NaN                NaN         NaN  NaN
21    2168-02-03         NaN       NaN  Discharge summary      Report  NaN
22    2160-01-06         NaN       NaN  Discharge summary      Report  NaN
23           NaN         NaN       NaN                NaN         NaN  NaN
24           NaN         NaN       NaN                NaN         NaN  NaN
26           NaN         NaN       NaN                NaN         NaN  NaN
27           NaN         NaN       NaN                NaN         NaN  NaN
28           NaN         NaN       NaN                NaN         NaN  NaN
31    2167-11-09         NaN       NaN  Discharge summary      Report  NaN
33    2165-04-13         NaN       NaN  Discharge summary      Report  NaN
34           NaN         NaN       NaN                NaN         NaN  NaN
35           NaN         NaN       NaN                NaN         NaN  NaN
36    2137-08-27         NaN       NaN  Discharge summary      Report  NaN
...          ...         ...       ...                ...         ...  ...
2920         NaN         NaN       NaN                NaN         NaN  NaN
2921  2164-05-18         NaN       NaN  Discharge summary      Report  NaN
2924  2166-08-27         NaN       NaN  Discharge summary      Report  NaN
2925  2107-12-24         NaN       NaN  Discharge summary      Report  NaN
2926  2169-03-01         NaN       NaN  Discharge summary      Report  NaN
2927  2132-04-12         NaN       NaN  Discharge summary      Report  NaN
2928         NaN         NaN       NaN                NaN         NaN  NaN
2930         NaN         NaN       NaN                NaN         NaN  NaN
2931  2145-12-06         NaN       NaN  Discharge summary      Report  NaN
2932  2130-10-24         NaN       NaN  Discharge summary      Report  NaN
2935  2167-02-09         NaN       NaN  Discharge summary      Report  NaN
2936  2121-05-27         NaN       NaN  Discharge summary      Report  NaN
2937         NaN         NaN       NaN                NaN         NaN  NaN
2938         NaN         NaN       NaN                NaN         NaN  NaN
2939         NaN         NaN       NaN                NaN         NaN  NaN
2940  2200-05-30         NaN       NaN  Discharge summary      Report  NaN
2941         NaN         NaN       NaN                NaN         NaN  NaN
2942         NaN         NaN       NaN                NaN         NaN  NaN
2943         NaN         NaN       NaN                NaN         NaN  NaN
2945  2178-01-23         NaN       NaN  Discharge summary      Report  NaN
2946         NaN         NaN       NaN                NaN         NaN  NaN
2947         NaN         NaN       NaN                NaN         NaN  NaN
2949         NaN         NaN       NaN                NaN         NaN  NaN
2953         NaN         NaN       NaN                NaN         NaN  NaN
2954  2196-10-09         NaN       NaN  Discharge summary      Report  NaN
2957         NaN         NaN       NaN                NaN         NaN  NaN
2958         NaN         NaN       NaN                NaN         NaN  NaN
2959         NaN         NaN       NaN                NaN         NaN  NaN
2960  2115-11-16         NaN       NaN  Discharge summary      Report  NaN
2963  2166-12-21         NaN       NaN  Discharge summary      Report  NaN

      ISERROR                                               TEXT
1         NaN                                                NaN
2         NaN                                                NaN
3         NaN                                                NaN
4         NaN                                                NaN
5         NaN                                                NaN
6         NaN                                                NaN
8         NaN                                                NaN
9         NaN                                                NaN
10        NaN                                                NaN
11        NaN  Admission Date:  [**2103-9-27**]              ...
13        NaN                                                NaN
14        NaN                                                NaN
15        NaN                                                NaN
16        NaN                                                NaN
17        NaN  Admission Date:  [**2162-9-20**]              ...
18        NaN  Admission Date:  [**2180-9-4**]       Discharg...
19        NaN                                                NaN
20        NaN                                                NaN
21        NaN  Admission Date:  [**2168-1-27**]       Dischar...
22        NaN  Admission Date:  [**2159-12-29**]             ...
23        NaN                                                NaN
24        NaN                                                NaN
26        NaN                                                NaN
27        NaN                                                NaN
28        NaN                                                NaN
31        NaN  Admission Date:  [**2167-11-5**]              ...
33        NaN  Admission Date:  [**2165-3-31**]              ...
34        NaN                                                NaN
35        NaN                                                NaN
36        NaN  Admission Date:  [**2137-8-23**]              ...
...       ...                                                ...
2920      NaN                                                NaN
2921      NaN  Admission Date:  [**2164-5-4**]              D...
2924      NaN  Admission Date:  [**2166-8-25**]              ...
2925      NaN  Admission Date:  [**2107-12-17**]     Discharg...
2926      NaN  Admission Date:  [**2169-1-24**]       Dischar...
2927      NaN  Admission Date:  [**2132-4-10**]              ...
2928      NaN                                                NaN
2930      NaN                                                NaN
2931      NaN  Admission Date:  [**2145-11-8**]              ...
2932      NaN  Admission Date:  [**2130-10-23**]             ...
2935      NaN  Admission Date:  [**2167-1-30**]     Discharge...
2936      NaN  Admission Date:  [**2121-5-18**]              ...
2937      NaN                                                NaN
2938      NaN                                                NaN
2939      NaN                                                NaN

In [22]:
#Bag of Words

#Preprocessing the data
def preprocess_text(df):
    df.TEXT=df.TEXT.fillna('')
    df.TEXT=df.TEXT.str.replace('\n','')
    df.TEXT=df.TEXT.str.replace('\r','')
    return df

In [46]:
df_train_all= preprocess_text(df_train_all)
df_valid=preprocess_text(df_valid)
df_test=preprocess_text(df_test)

In [47]:
#Build a tokenizer - this could be of your choice;you can replace punctations with spaces,remove numbers with spaces and lowercase all words.

import nltk
nltk.download('punkt') #didnt have this in my library yet. So downloaded here.
from nltk import word_tokenize
word_tokenize('This is a sample to tokenize. 11/21/2018 sentence needs space**')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/shreyavarghese/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

['This',
 'is',
 'a',
 'sample',
 'to',
 'tokenize',
 '.',
 '11/21/2018',
 'sentence',
 'needs',
 'space**']

In [48]:
import string
print (string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [49]:
def tokenizer_better(text):
#will remove spaces , numbers and punctuations-will just tokenize test
    punc_list=string.punctuation+'0123456789'
    t= str.maketrans(dict.fromkeys(punc_list,""))
    text = text.lower().translate(t)
    tokens =word_tokenize(text)
    return tokens

In [50]:
tokenizer_better('This is a sample to test tokenizer.11/21/2018 sentence needs space**')

['this',
 'is',
 'a',
 'sample',
 'to',
 'test',
 'tokenizer',
 'sentence',
 'needs',
 'space']

In [51]:
sample_text= ['This research is exploratory analysis', 'Bag of words and its strengths','Can we explore sepsis data']

In [52]:
from sklearn.feature_extraction.text import CountVectorizer
vect= CountVectorizer (tokenizer=tokenizer_better)
vect.fit (sample_text)

X=vect.transform(sample_text)

In [53]:
X

<3x16 sparse matrix of type '<class 'numpy.int64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [54]:
X.toarray()

array([[1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0],
       [0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1],
       [0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0]])

In [55]:
vect.get_feature_names()

['analysis',
 'and',
 'bag',
 'can',
 'data',
 'exploratory',
 'explore',
 'is',
 'its',
 'of',
 'research',
 'sepsis',
 'strengths',
 'this',
 'we',
 'words']

In [56]:
from sklearn.feature_extraction.text import CountVectorizer
vect= CountVectorizer(max_features=3000, tokenizer =tokenizer_better)

vect.fit(df_train_all.TEXT.values)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=3000, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=<function tokenizer_better at 0x119384510>,
        vocabulary=None)

In [68]:
import matplotlib.pyplot as plt

In [57]:
#Fitting the vectorized data to fit and converting it into an array: Step is important to fit the data in the bag of words 
#and within the Pandas dataframe.
doc_matrix= vect.transform(df_train_all.TEXT)
doc_tf=np.sum(doc_matrix,axis=0)
doc=np.squeeze(np.asarray(doc_tf))



term_freq_df=pd.DataFrame([doc],columns=vect.get_feature_names()).transpose()
print (term_freq_df)


#d = pd.Series(term_freq_df,index = term_freq_df.index).sort_values(ascending=False)
#print (d)

#ax = term_freq_df[:50].plot(kind='bar', figsize=(10,6), width=.8, fontsize=14, rot=90,color = 'b')
#ax.title.set_size(18)
#plt.ylabel('count')
#plt.show()
#ax = term_freq_df[50:100].plot(kind='bar', figsize=(10,6), width=.8, fontsize=14, rot=90,color = 'b')
#ax.title.set_size(18)
#plt.ylabel('count')
#plt.show()

                   0
a              10892
abd               92
abdomen          344
abdominal        574
abdominalpain     28
abg               84
ablation          34
able             313
abnormal         100
abnormalities     92
abnormality       78
about            233
above            288
abscess          110
absence           48
absent            37
abuse            117
abx               47
ac                70
access            88
accessory         45
accident          32
according         45
ace               46
acei              48
acetaminophen    195
acetate           44
acid             223
acidosis          82
acquired          31
...              ...
worse             75
worsened          53
worsening        220
would            308
wound            263
wounds            50
x               1165
xl                86
xray             302
xrt               31
xs               136
year             418
yearold          214
years            334
yeast             87
yeastnoneepi      41
yellow            41
yesterday         59
yo               364
you             1938
your            2103
yourself          63
youwere           27
yrs               71
zantac            38
zestril           32
zinc              31
zolpidem          34
zosyn            104
zyprexa           30

[3000 rows x 1 columns]

In [58]:
my_stop_words = ['the','and','to','of','was','with','a','on','in','for','name',
                 'is','patient','s','he','at','as','or','one','she','his','her','am',
                 'were','you','pt','pm','by','be','had','your','this','date',
                'from','there','an','that','p','are','have','has','h','but','o',
                'namepattern','which','every','also']

In [59]:
from sklearn.feature_extraction.text import CountVectorizer
vect= CountVectorizer(max_features= 500,
                     tokenizer=tokenizer_better,
                     stop_words=my_stop_words)

vect.fit(df_train_all.TEXT.values)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=500, min_df=1,
        ngram_range=(1, 1), preprocessor=None,
        stop_words=['the', 'and', 'to', 'of', 'was', 'with', 'a', 'on', 'in', 'for', 'name', 'is', 'patient', 's', 'he', 'at', 'as', 'or', 'one', 'she', 'his', 'her', 'am', 'were', 'you', 'pt', 'pm', 'by', 'be', 'had', 'your', 'this', 'date', 'from', 'there', 'an', 'that', 'p', 'are', 'have', 'has', 'h', 'but', 'o', 'namepattern', 'which', 'every', 'also'],
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=<function tokenizer_better at 0x119384510>,
        vocabulary=None)

In [60]:
A_train_tf=vect.transform(df_train_all.TEXT.values)
A_valid_tf=vect.transform(df_valid.TEXT.values)